{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <style>
        .wrap {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 200px;
        }
    </style>

    <div class="container">
        <div class="row">

            {% for article in articles %}
                <div class="col-sm-6" style="padding:15px">
                    <div class="card">
                        <div class="card-header">
                            Created on {{ article.creationDate ? article.creationDate|date('d-m-Y H:i:s') : '' }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text wrap">{{ article.text }}</p>
                            <a href="/article/{{ article.id }}">Read full article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
