{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 style="padding:20px 0">Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('article_index') }}">Back to list</a>
{% endblock %}
